.reset {
	background: #5b82bc;
	color: #fff;
	font-size: 24px;
	padding: 30px;
	text-align: center;
	border-radius: 5px;
}
.bubble {
	margin: 10px 10px;
	color: #F00;
	width: 75px;
	height: 75px;
	display: inline-block;
	border-radius: 50%;
	background: #ccc;
	text-align: center;
  transform: translate3d(0, 0, 0);
}

.bubble.light {
	background: #fc0;
	animation: lightshake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
}
.bubble.medium {
	background: #CA0;
	animation: mediumshake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
}
.bubble.full {
	background: #960;
}

@keyframes lightshake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}

@keyframes mediumshake {
  10%, 90% {
    transform: translate3d(-1px, -1px, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-5px, 5px, 0);
  }

  40%, 60% {
    transform: translate3d(5px, 5px, 0);
  }
}

